{# src/UtilisateurBundle/Resources/views/utilisateur/editAvatar.html.twig #}

{% extends "base.html.twig" %}

{% block titre %}
    Mon profil - {{parent()}}
{% endblock titre %}

{% block style %}
    {{parent()}}

    <style>
        #profileDonnees{
            width: 60%;
            float: right;
            background: white;
            padding: 30px;
            margin-right: 20px;
        }
        #top:after{
            content: '';
            display: block;
            clear: both;
        }
        table{
            width: 90%;
            margin: auto;
            font-size: 18px;
        }
        table img{
            width: 80%;
            margin: auto;
        }
        td{
            width: 33%;
        }


        #profileMenu{
            width: 25%;
            float: left;
            background: #2e2d30;
            padding: 20px 10px;
            margin-left: 20px;
        }
        #profileMenu ul{
            width: auto;
            margin: auto;
        }
        #profileMenu li{
            padding: 15px 20px;
        }
        #profileMenu a{
            color:white;
            font-size: 18px;
        }
    </style>

{% endblock style %}

{% block blockPrincipal %}
    <div class="container object">

        <div id="main-container-image">
            <div id='top'>
                <div id='profileDonnees'>
                    <h2>Changer mon avatar</h2>
                    <form method='post' name='formAvatar' enctype="multipart/form-data">
                        <p>
                            <label for='fos_user_profile_form_avatar'>Avatar</label>
                            <input type='file' name='avatar' id='avatar' />
                        </p>
                        <div>
                            <input type="submit" value="Enregistrer" />
                        </div>
                    </form>

                </div>
                {{ include('UtilisateurBundle:Profile:menu.html.twig') }}
            </div>
        </div>
    </div>
{% endblock blockPrincipal %}